@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.errorimg{
    max-width: 100%;
    margin:10px;
}

span{
    position: relative;
}

h3{
    position: relative;
    
}

img {
position: relative;
z-index: 1;
max-width: 60px;
float: left;
}

.login-page {
  max-width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .submitBtn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: linear-gradient(to left, #131313,#60609f );
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form .submitBtn:hover,.form button:active,.form button:focus {
  background: #000000;
}

body {
  background: #660066; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #660066, #660066);
  background: -moz-linear-gradient(right, #660066, #660066);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #60609f, #131313);
  
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

