.logout{
    display:none; 
}
a.icon {
    display: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding:0;
}
.toolname {
    width:100%;
    text-align: center;  
    padding: 10px 24px; /* Some padding */
    font-size: 12pt;
}
.btn-group select {
    background-color: #ffffff; /* Green background */
    color: black; /* White text */
    padding: 10px 15px; /* Some padding */
    margin: 1px;
    cursor: pointer; /* Pointer/hand icon */
    float:left;
    border:1px solid;
}

.btn-group button {
    background-color: #3e3e6b; /* Green background */
    color: white; /* White text */
    padding: 10px 19px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border:none;
}

#mylinks{
    display: block;
}

.actionButton button{
    margin:1px;
}
    
/** Mobile Portrait and landscape**/
@media only screen and (max-width: 485px) { 
    
    .modal-footer .btn+.btn {
        margin-bottom: 0;
        margin-left: 0px;
        margin-top:5px;
    }
   .toolname{
        text-align: left;
    }
    .navbarLogout button{
        display:none;
    }
    .logout{
        display:block;
        height: 40px;
        color: white;
        width: 100%;
        position:absolute;
        left:0;
        bottom:0;
    }
    .footer{
        display:none;
    }

    a.icon {
        color: white;
        padding: 10px 24px;
        text-decoration: none;
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12pt;
    } 
    #mylinks select,button{
        width: 100%;
        margin: 0px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    .btnclass{
        margin-left:0px;
    }
    
    .modal-footer button{
        margin:0px;
    }
}

/** Desktop Size **/
@media screen and (max-width: 1023px) { 
 
    .greetings{
        display: none;
    }
}

.nav {
    background-color: #8585ad;  
    min-width: 100%; 
    padding :1px;    
}

.navbarLogout{
    float:right;
    margin-right:3px;
}
.greetings {
    float:left;
    padding: 10px 24px; /* Some padding */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #b3b3cc;
}





