@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/* The HTML and body tags must be set to height:100%; this allows us to set a percentage height on our container div later.*/
html, body {
    margin:0;
   padding:0;
   height:100%;

}

body {
padding-top:1px;
color: black;
background-color: black;
min-width: 100%;
font-family:arial,sans-serif;
font-size:12px;
}

/*The container div is also set to position:relative; this allows us to absolutely position elements inside it later.*/
.container {
    min-width: 390px;
    position:relative;
    background-color: #c2c2d6;
    min-height: 100%;
    margin: 0 auto;
}

button {
  background-color: #3e3e6b; /* Green background */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  border:none;
}
.btnclass{
    margin-top: 1px;
    margin-left:2px;
    display:flex;
    overflow: auto;
    justify-content: center;
}
.addBtn{
    color: white;
    margin-top:10px;
}

.table {
    width: 100%;
    margin-top: 10px;
}

.footer {
   background-color: #8585ad;
   position:absolute;
   bottom: 0;
   left:0;
   min-width: 100%;
   color: white;
   text-align: center;
}